/* General */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #14121C;
  color: #fff;
  overflow-x: hidden; /* Para evitar el desbordamiento horizontal */
}
html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

.cabecera {
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.6); /* Fondo opaco */
  backdrop-filter: blur(30px); /* Efecto de desenfoque */
  padding: 1rem 2rem;
  display: flex;
  justify-content: center; /* Centra los elementos horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
  position: fixed;
  width: 90%; /* Mantén el ancho al 90% */
  z-index: 10;
  height: 40px;
  vertical-align: middle;
  margin: 0px auto;
  border-radius: 50px;
  box-shadow: 0px 0px 60px #00ffa220; /* Sombra */
}

.navegacion ul {
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: center; /* Centra los elementos del menú horizontalmente */
  align-items: center; /* Alinea verticalmente los elementos del menú */
  padding: 0;
  margin: 0;
}

.navegacion ul li a {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s;
  margin: 0px 50px;
}

.navegacion ul li a:hover {
  color: #00ffa2;
}


/* Sección Hero */
.seccion-hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  overflow-x: hidden; /* Para evitar el desbordamiento horizontal */
  padding-bottom: 140px;
  padding-top: 130px;
}

.contenedor-texto {
  max-width: 50%;
}

/* Título Principal */
.titulo-principal {
  font-size: 32px;
  font-family: 'Lemon/Milk', sans-serif;
  font-weight: 600;
  margin-bottom: -40px;
  margin-top: 100px;
}

.nombre-completo {
  display: flex;
  align-items: flex-end; /* Alineación al fondo */
  margin-bottom: -20px;
}

.nombre {
  font-size: 30px;
  font-family: 'Lemon/Milk Light', sans-serif;
  font-weight: lighter;
  color: white;
  margin-right: 8px;
  margin-bottom: 40px;
}

.apellido {
  font-size: 128px;
  font-family: 'Lemon/Milk', sans-serif;
  font-weight: Bold;
  color: #00ffa2;
}

.titulo-dinamico {
  font-size: 32px;
  font-family: 'Lemon/Milk', sans-serif;
  font-weight: 500;
  margin: 20px 0;
}

/* Texto Dinámico */
.texto-dinamico {
  font-size: 32px;
  font-family: 'Lemon/Milk', sans-serif;
  color: #1CBBFF;
  border-right: 3px solid;
  white-space: nowrap;
  overflow: hidden;
  animation: blink 0.5s steps(10) infinite, maquina-escribir 2s steps(10) infinite alternate;
}

@keyframes maquina-escribir {
  0% {
    width: 0px;
  }
  100% {
    width: 240px;
  }
}

@keyframes blink {
  0% {
    border-right-color: rgba(255, 255, 255, .75);
  }
  100% {
    border-right-color: transparent;
  }
}

/* Descripción */
.descripcion {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  line-height: 30px;
  margin-top: 1rem;
}

.boton-descargar {
  display: inline-flex; /* Ajusta para alinear icono y texto */
  align-items: center;
  margin-top: 1.5rem;
  padding: 15px 40px;
  background-color: #00ffa2;
  color: #000;
  font-weight: 600;
  border-radius: 100px;
  transition: all 0.3s ease;
  border: 2px solid transparent; /* Agregar un borde predeterminado transparente */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra predeterminada */
}

.boton-descargar:hover {
  background-color: #14121C;
  color: #fff;
  border: 2px solid #30FF97; /* Cambia el contorno del borde */
  box-shadow: 0px 8px 16px rgba(48, 255, 151, 0.4); /* Sombra cuando se hace hover */
}

.svg-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px; /* Espacio entre icono y texto */
  fill: #000; /* Color inicial del icono */
  transition: fill 0.3s ease; /* Transición suave del color */
} 

.boton-descargar:hover .svg-icon {
  filter: brightness(0) invert(1); /* Forzar a color blanco */
}


.circulo-blanco {
  position: absolute;
  top: -300px; /* Ajusta según tu preferencia */
  right: -200px; /* Ajusta para evitar desbordamiento */
  width: 845px; /* Tamaño del círculo */
  height: 845px; /* Tamaño del círculo */
  background-color: white;
  border-radius: 50%; /* Para que sea un círculo */
  z-index: -1; /* Asegura que quede detrás del contenido */
  overflow-x: hidden; /* Evitar desbordamiento */
}

.contenedor-imagen {
  position: relative;
  display: inline-block;
  left: -150px;
  border-radius: 50%;
  padding: 10px; /* Espacio entre la imagen y el borde */
 
  margin-right: -50px; /* Mover imagen hacia la izquierda */
}

.fotoPrincipal{
  position: relative;
  display: inline-block;
  
  width: 545px;
  border-radius: 50%;
  padding: 10px; /* Espacio entre la imagen y el borde */
  background: linear-gradient(45deg, #00ffa2, #1CBBFF); /* Degradado */
  margin-right: -50px; /* Mover imagen hacia la izquierda */
}

.contenedor-imagen img {
  border-radius: 50%;
  width: 545px;
  height: 545px;
  object-fit: cover;
  background-clip: padding-box; /* Asegura que el degradado esté fuera de la imagen */
  box-shadow: 0px 0px 60px #00ffa2; /* Sombra */
}

/* Sección de Habilidades */
.seccion-habilidades {
  padding: 2rem;
  text-align: center;
  color: #1c1c2b;
}

.seccion-habilidades h2 {
  font-size: 2.5rem;
  font-family: 'Lemon/Milk Light', sans-serif;
  font-weight: 400px;
  margin-bottom: 1rem;
  padding-top: 10px;
}

.seccion-habilidades p {
  color: #6347D0;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  letter-spacing: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Estilos para los iconos de redes sociales */
.iconos-redes {
  position: absolute;
  right: -80px; /* Ajusta la posición de los iconos */
  top: 50%; /* Centrar verticalmente con respecto a la imagen */
  transform: translateY(-50%); /* Ajustar con transform para centrar completamente */
  display: flex;
  flex-direction: column;
  gap: 15px; /* Espaciado entre los iconos */
}

.iconos-redes img {
  width: 40px; /* Tamaño de los iconos */
  height: 40px;
  transition: transform 0.3s ease;
}

.iconos-redes img:hover {
  transform: scale(1.2); /* Efecto de hover para agrandar los iconos */
}
.seccion-habilidades{
  background-color: white;
}

/* Tarjeta de habilidad */
.skill-card {
  background-color: #1c1c2b; /* Color oscuro para las tarjetas */
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;  /* Ajustar el tamaño a 350px x 350px */
  height: 300px;
  margin: 0px;
  box-shadow: 0px 0px 20px rgba(27, 21, 76, 0.6); /* Sombra predeterminada */
  position: relative; /* Para evitar desbordamientos en el hover */
}

.skill-card:hover {
  background-color: #ffffff; /* Fondo blanco al hacer hover */
  box-shadow: 0px 10px 25px rgba(1, 255, 128, 0.4); /* Sombra verde en hover */
  transform: translateY(-5px); /* Elevar suavemente la tarjeta */
}

.skill-card img {
  width: 143px;
  height: 143px;
  margin-top: 50px;
  margin-bottom: 40px;
}

.skill-card h4 {
  margin: 10px 0;
  font-size: 24px;
  color: #ffffff; /* Color del texto predeterminado */
}

.skill-card:hover h4 {
  color: #14121C; /* Cambiar el color del texto al hacer hover */
}

/* Barra de progreso */
.progress-bar {
  width: 80%;
  height: 12px;
  background-color: #f0f0f0;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}

.progress {
  height: 100%;
  background-color: #00ffa2; /* Verde para el progreso */
  
}

/* Cambiar el color del progreso cuando la tarjeta tenga hover */
.skill-card:hover .progress {
  background-color: #00ffa2; /* Cambiar a color oscuro al hacer hover */
}

.skill-card:hover .progress-bar {
  width: 80%;
  height: 12px;
  background-color: #14121C;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}

/* Grid de habilidades */
.skills-grid {
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px 0;
}
/* Para navegadores basados en WebKit (Chrome, Safari, Edge, Opera) */
::-webkit-scrollbar {
  width: 12px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-track {
  background: #14121C; /* Color del fondo de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
  background-color: #333; /* Color de la barra de desplazamiento */
  border-radius: 10px; /* Bordes redondeados */
  border: 3px solid #14121C; /* Espacio entre la barra y el borde */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color de la barra cuando se hace hover */
}

/* Firefox */
* {
  scrollbar-width: thin; /* Grosor de la barra en Firefox */
  scrollbar-color: #00ffa2 #14121C; /* Color de la barra y el fondo */
}
.mensaje-descarga {
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  color: #14121C;
  padding: 7px 30px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  z-index: 100;
  transition: all 0.5s  ease-in;
  box-shadow: 0px 0px 60px #00ffa2; /* Sombra */
}
/* Tooltip aparecerá cuando se haga hover en la tarjeta */
/* Tooltip aparecerá cuando se haga hover en la tarjeta */
.skill-card {
  position: relative;
  margin-bottom: 30px; /* Ajustar el espacio para el tooltip */
  overflow: visible; /* Asegura que el contenido se pueda ver fuera de la tarjeta */
}

.skill-card .tooltip {
  display: none; /* Ocultarlo por defecto */
  position: absolute;
  top: -50px; /* Cambia de bottom a top para evitar que se superponga abajo */
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  color: #14121C;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  width: 250px;
  z-index: 999; /* Asegúrate que el tooltip esté por encima de otros elementos */
}

/* Muestra el tooltip al hacer hover en la tarjeta */
.skill-card:hover .tooltip {
  display: block;
  opacity: 1; /* Lo hacemos visible */
  visibility: visible; /* Ahora es interactuable */
  z-index: 999; /* Asegúrate que el tooltip esté por encima de otros elementos */
}

.seccion-proyectos {
  padding: 2rem;
  text-align: center;
  
}

.seccion-proyectos h2 {
  font-size: 2.5rem;
  font-family: 'Lemon/Milk Light', sans-serif;
  font-weight: 400px;
  margin-bottom: 1rem;
  padding-top: 10px;
}

.proyect-Card-Container{
  
  flex-direction: row;
  width: 100%;
  display: flex;
  background-color: #1E1B28;
  align-items: flex-start;
  border-radius: 50px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 20px;
  
}

.icons-KeyCard {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.imageProject {
  flex: 0 0 510px;
  height: 310px;
  

  overflow: hidden;
  margin: auto;
 
}

.imageProject img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.nameANDIconsContainer{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 85%;
  padding-right: 300px;
  margin-top: 30px;
}
.nameANDIconsContainer{
  align-self: right;
}

.nameContainer{
  display: flex;
  margin-right: 100px;
}
.iconsContainer{
  
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.description{
  width: 90%;
  text-align: left;
  margin-left: 30px;
}

.infoProjectContainer{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
 
  align-items: flex-start;
 

  
}

.showmoreButton{
  background-color: #00ffa2;
  border-radius: 50px;
  width: 30%;
  height: 40px;
  border: none;
}
.showmoreButton:hover{
  background-color: #14121C;
  color: #fff;
  border: 2px solid #30FF97; /* Cambia el contorno del borde */
  box-shadow: 0px 8px 16px rgba(48, 255, 151, 0.4); /* Sombra cuando se hace hover */
}

.section-extractivities {
  padding-top: 2rem;
  text-align: center;
  background-color: white;
  color: #14121C;
  width: 100%;
}

.section-extractivities h2 {
  font-size: 2.5rem;
  font-family: 'Lemon/Milk Light', sans-serif;
  font-weight: 400px;
  margin-bottom: 1rem;
  padding-top: 10px;
}

.activitiesContainer {
  display: flex;
  justify-content: space-evenly; /* Alinea las tarjetas como en las skill cards */
  flex-wrap: wrap; /* Permite que las tarjetas pasen a la siguiente fila si es necesario */
  gap: 20px; /* Espaciado entre tarjetas */


}

.activities-card {
  display: flex;
  flex-direction: column; /* Coloca el contenido de las tarjetas en una columna */
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20px; /* Espacio entre las tarjetas */
  width: 300px; /* Ancho de cada tarjeta */


}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.activitie-img {
  border-radius: 40px;
  overflow: hidden;
  height: 240px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.activitie-img img {
  width: 130%; /* Asegura que la imagen ocupe todo el ancho disponible */
  object-fit: cover;
}

.activitie-name {
  margin-top: 10px; /* Añade espacio entre la imagen y el nombre */
}

.activitie-name h4 {
  font-size: 18px;
  font-weight: 600;
}

.section-contact {
  padding-top: 2rem;
  text-align: center;
  width: 100%;
}

.section-contact h2 {
  font-size: 2.5rem;
  font-family: 'Lemon/Milk Light', sans-serif;
  font-weight: 400px;
  margin-bottom: 1rem;
  padding-top: 10px;
}

.section-contact p {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  line-height: 40px;
  margin-top: 1rem;
  margin: 0% 10%;
}

.section-contact button{
  background-color: #00ffa2;
  border-radius: 50px;
  padding: 0px 30px;
  height: 40px;
  border: none;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
  box-shadow: 0px 8px 16px #00ffa246; 
  font-weight: bold;/* Sombra */    
  flex-direction: row;
}



/* Para pantallas más pequeñas (móviles) */
@media (max-width: 768px) {
  /* Ajusta la cabecera */
  .cabecera {
    flex-direction: column;
    padding: 1rem;
    height: auto;
  }

  .circulo-blanco {
    position: absolute;
    top: -190px; /* Ajusta según tu preferencia */
    right: -200px; /* Ajusta para evitar desbordamiento */
    width: 450px; /* Tamaño del círculo */
    height: 450px; /* Tamaño del círculo */
    background-color: white;
    border-radius: 50%; /* Para que sea un círculo */
    z-index: -1; /* Asegura que quede detrás del contenido */
    overflow-x: hidden; /* Evitar desbordamiento */
  }

  /* Ajusta la navegación */
  .navegacion ul {
    flex-direction: column;
    gap: 10px;
  }

  .navegacion ul li a {
    margin: 0;
    font-size: 14px;
  }

  /* Ajusta el contenedor de texto */
  .contenedor-texto {
    max-width: 100%;
    padding: 1rem;
  }

  /* Ajusta los títulos */
  .titulo-principal, .titulo-dinamico {
    font-size: 24px;
    text-align: center;
  }

  .nombre {
    font-size: 24px;
  }

  .apellido {
    font-size: 50px;
  }

  /* Ajusta las imágenes del héroe */
  .contenedor-imagen {
    left: 0;
    margin: 0 auto;
    width: 70%;
  }

  .iconos-redes{
    flex-direction: row;
    padding-right: 900px;

  }
  .contenedor-imagen img {
    width: 10%;
    height: auto;
  }

  /* Ajusta las habilidades */
  .skills-grid {
    flex-direction: column;
    align-items: center;
  }

  .skill-card {
    width: 90%;
    margin-bottom: 20px;
  }

  /* Ajusta los proyectos */
  .proyect-Card-Container {
    flex-direction: column;
  }

  .infoProjectContainer {
    width: auto;
    margin-top: 20px;
  }
  /* Ajusta las actividades */
  .activitiesContainer {
    flex-direction: column;
    align-items: center;
  }

  .activities-card {
    width: 90%;
  }

  /* Ajusta botones */
  .boton-descargar {
    width: 100%;
    padding: 10px;
    font-size: 14px;
  }
  /* Ajusta el contenedor de la imagen para que no se desborde */
  .contenedor-imagen {
    left: 0;
    margin: 0 auto;
    width: 70%; /* Reduce el ancho de la imagen */
  }

  .contenedor-imagen img {
    width: 100%;
    height: auto;
  }

  .fotoPrincipal img{
    width: 200px;
    height: 200px;

  }



 

  /* Ajusta los iconos de redes sociales */
  .iconos-redes {
    position: relative; /* Para que ya no sea absoluta */
    margin-top: 60px; /* Añade margen superior */
   left: -180px;
    justify-content: center; /* Centra los íconos horizontalmente */
    gap: 15px; /* Ajusta el espaciado entre los íconos */
    top: 200px
  }

  .iconos-redes img {
    width: 30px; /* Haz los íconos más pequeños */
    height: 30px;
  }

  /* Ajuste del texto dinámico */
  .texto-dinamico {
    font-size: 24px;
  }

  /* Ajustes adicionales para el texto */
  .contenedor-texto {
    padding: 1rem;
    text-align: center; /* Centra el texto */
  }

  .titulo-principal, .titulo-dinamico {
    font-size: 24px;
  }

  .nombre {
    font-size: 24px;
  }

  .apellido {
    font-size: 50px;
  }

  /* Asegúrate de que el botón se ajuste correctamente */
  .boton-descargar {
    width: 80%;
    font-size: 14px;
  }

  .descripction{
 width: 100%;  /* Ensure the description takes up full container width */
  text-align: left;
  margin-top: 10px;
  margin-left: 0;  /* Remove extra margin */
  word-wrap: break-word;  /* Ensure long words break and wrap to next line */
  overflow-wrap: break-word;
  }

  .infoProjectContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 60%;  /* Full width for mobile */
    padding: 10px;
  }

  .imageProject
  {
    flex: 0 0 300px;
    height: 200px;
  }
  
}

/* Para pantallas medianas (tabletas) */
@media (min-width: 768px) and (max-width: 1024px) {
  .navegacion ul {
    gap: 10px;
  }

  .navegacion ul li a {
    margin: 0 20px;
    font-size: 14px;
  }

  /* Ajusta las imágenes de actividades */
  .activitie-img {
    height: 200px;
    width: 440px;
  }

  .fotoPrincipal img{
    width: 350px;
    height: 350px;

  }


 
  
  .fotoPrincipal {
    position: relative;
    display: inline-block;
      width: 350px;  /* Ensure both width and height are equal for a circular shape */
      height: 350px;
    border-radius: 50%;  /* This ensures the container is circular */
    overflow: hidden;  /* Ensures the image stays inside the container */
    background: linear-gradient(45deg, #00ffa2, #1CBBFF);  /* Gradient background */
    margin-right: -50px;  /* Adjust the margin if needed */
    box-shadow: 0px 0px 100px #00ffa2; /* Sombra */
  }


  .nombre-completo{
    margin-top: 50px;

    align-items:last baseline
  }
  .apellido{
    font-size: 50px;
  }
  .nombre{
    font-size: 20px;
  }

  .infoProjectContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;  /* Full width for mobile */
    padding: 10px;
  }
}

/* Para pantallas grandes (escritorios grandes) */
@media (min-width: 1269px)and (max-width: 1446px) {
  .fotoPrincipal img{
    width: 500px;
    height: 500px;

  }

 
  
  .fotoPrincipal {
    position: relative;
    display: inline-block;
      width: 500px;  /* Ensure both width and height are equal for a circular shape */
      height: 500px;
    border-radius: 50%;  /* This ensures the container is circular */
    overflow: hidden;  /* Ensures the image stays inside the container */
    background: linear-gradient(45deg, #00ffa2, #1CBBFF);  /* Gradient background */
    margin-right: -50px;  /* Adjust the margin if needed */
    box-shadow: 0px 0px 100px #00ffa2; /* Sombra */
  }


  .apellido{
    font-size: 100px;
  }


}

/* Para pantallas grandes (escritorios grandes) */
@media (min-width: 1024px)and (max-width: 1269px) {
  .fotoPrincipal img{
    width: 400px;
    height: 400px;

  }

 
  
  .fotoPrincipal {
    position: relative;
    display: inline-block;
      width: 400px;  /* Ensure both width and height are equal for a circular shape */
      height: 400px;
    border-radius: 50%;  /* This ensures the container is circular */
    overflow: hidden;  /* Ensures the image stays inside the container */
    background: linear-gradient(45deg, #00ffa2, #1CBBFF);  /* Gradient background */
    margin-right: -50px;  /* Adjust the margin if needed */
    box-shadow: 0px 0px 100px #00ffa2; /* Sombra */
  }


  .apellido{
    font-size: 80px;
  }


}
